NEXT_PUBLIC_APP_NAME="DompetIn"
NEXT_PUBLIC_APP_TITLE="APP_NAME - Track Your Transactions History"
NEXT_PUBLIC_APP_DESCRIPTION="APP_NAME is a web application tools to manage your transactions history"
NEXT_PUBLIC_APP_URL="http://localhost:3000/"

DATABASE_DRIVER=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=dompetin
DATABASE_USERNAME=root
DATABASE_PASSWORD=toor
