@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.section {}

.video {
  overflow: hidden;
  z-index: -100;
  filter: saturate();
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  padding-right: 0;
  position: absolute;
  max-height: fit-content;
  left: -90%;
  top: 10%;
  transform: scale(7.2);
}

.divider-gradient-top {
  z-index: 100;
  background-image: linear-gradient(to bottom, #00000000, rgb(226 232 240) 69%);
  pointer-events: none;
  width: 100%;
  position: absolute;
  inset: auto auto 0% 0%;
}


/* max-sm */
@media (min-width: 640px) {
  .video {
    left: -50%;
    top: 0%;
    transform: scale(3.8);
  }
}

/* max-md */
@media (min-width: 768px) {
  .video {
      left: -50%;
      top: 0%;
      transform: scale(3);
    }
}

/* max-lg */
@media (min-width: 1024px) {
  .video {
      left: -50%;
      top: 0%;
      transform: scale(2.5);
    }
  }
  
  /* max-xl */
@media (min-width: 1280px) {
  .video {
    left: -10%;
    top: 0%;
    transform: scale(1.8);
  }
}

/* max-2xl */
@media (min-width: 1536px) {
  .video {
      left: 10%;
      top: 0%;
      transform: scale(1.2);
    }
}